.partner-section {
  text-align: center;
  padding: 80px 0;
  background: #eef2f4;
}

.partner-title {
  font-family: "Inter", sans-serif;
  font-size: 2.4rem;
  color: #04356d;
  font-weight: 700;
}

.partner-subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  margin-top: 10px;
  margin-bottom: 40px;
  color: #444;
}

.partner-logos {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.partner-logo-box {
      width: 180px;
    height: 130px;
    border-radius: 14px;
    background: #fff;
    box-shadow: 1px 1px 1px rgb(0 0 0 / 28%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.partner-logo-box img {
  width: 70%;
  object-fit: contain;
}
