.unsubscribe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background: #e9e8e8;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px;
  text-align: center;
  padding-bottom: 0px;
  padding-top: 60px;
}

.loading {
  font-size: 18px;
  color: #555;
}

.success-box, .error-box {
  max-width: 500px;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.success-box {
  background: #ffffff;
  border: 1px solid #d2d2d3;
  color: #000000;
}

.error-box {
  background: #ffecec;
  /* border: 1px solid #8f6a66; */
  color: #2c1816;
}

.success-box h2, .error-box h2 {
  margin-bottom: 10px;
}
